<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<script src="../lib/require.js"></script>
<script>
    require.config({
        paths:{
            backbone:"../lib/backbone",
            underscore:"../lib/underscore-min",
            jquery:"../lib/jquery-1.8.3.min",
            domReady:"../lib/domReady"
        },
        shim:{
            backbone:{
                deps:["underscore", "jquery"],
                exports:"Backbone"
            },
            underscore:{
                exports:"_"
            }
        }
    });

    require(["jquery", "underscore", "backbone", "domReady!", "../src/validation", "../src/basicTests"], function ($, _, Backbone, domReady, validation, basics) {
        validation.Validator.install(basics);

        var View = Backbone.View.extend({
            tagName:"div",
            className:"test",
            template:_.template(
                    '<label for="email">Email: <input class="email" type="text" name="email" value="<%= o.email %>" /><span class="error"></span></label><br/>' +
                            '<label for="password">Password: <input class="password" type="password" name="password" value="<%= o.password %>" /><span class="error"></span></label><br/>' +
                            '<label for="password2">Verifier password: <input class="password2" type="password" name="password2" value="<%= o.password2 %>" /><span class="error"></span></label><br/>' +
                            '<input type="submit" class="submit" />',
                    null,
                    {variable:"o"}
            ),
            initialize:function () {
                if (this.model)
                    this.render();
            },
            render:function () {
                this.model.validator.on("change", function () {
                    _.each(this.model.validator.attributes, function (errors, attribute) {
                        var $input = this.$inputs[attribute];
                        var message = "";
                        if (errors) {
                            var chunks = [];
                            _.each(errors, function (error, name) {
                                if (this.messages[attribute][name])
                                    chunks.push(this.messages[attribute][name]);
                            }, this);
                            if (!chunks.length)
                                chunks.push("Your input is not valid.");
                            message = chunks.join("<br/>");
                        }
                        $input.next().html(message);
                    }, this);
                    if (this.model.validator.hasErrors())
                        this.$submit.attr("disabled", "disabled");
                    else
                        this.$submit.removeAttr("disabled");
                }, this);
                this.$el.html(this.template(this.model.toJSON()));
                this.$inputs = {
                    email:$(".email", this.$el),
                    password:$(".password", this.$el),
                    password2:$(".password2", this.$el)
                };
                this.$submit = $(".submit", this.$el);
                _.each(this.$inputs, function ($input, attribute) {
                    $input.change(function () {
                        this.model.set(attribute, $input.val());
                    }.bind(this));
                    $input.next().css({color:"red"});
                }, this);
                this.model.validator.trigger("change");
                return this;
            },
            messages:{
                email:{
                    required:"The email address is not given.",
                    type:"Email address must be string",
                    match:"Not an email address",
                    max:"The given email address is too long."
                },
                password:{
                    required:"The password is not given",
                    type:"The password must be string",
                    min:"The password is too short.",
                    max:"The password is too long."
                },
                password2:{
                    duplicate:"The verifier password does not equal with the password."
                }
            }
        });

        var Model = validation.Model.extend({
            schema:{
                email:{
                    required:true,
                    type:String,
                    match:"email",
                    max:127
                },
                password:{
                    required:true,
                    type:String,
                    min:5,
                    max:14
                },
                password2:{
                    duplicate:"password"
                }
            }
        });


        var model = new Model({
            email:"test@test.hu",
            password:""
        });

        var view = new View({
            model:model
        });
        $("body").append(view.$el);
    });
</script>
</body>
</html>