<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<script src="../lib/require.js"></script>
<script>
    require.config({
        paths:{
            backbone:"../lib/backbone",
            underscore:"../lib/underscore-min",
            jquery:"../lib/jquery-1.8.3.min",
            domReady:"../lib/domReady"
        },
        shim:{
            backbone:{
                deps:["underscore", "jquery"],
                exports:"Backbone"
            },
            underscore:{
                exports:"_"
            }
        }
    });

    require(["jquery", "underscore", "backbone", "domReady!", "../src/validation", "../src/basicTests"], function ($, _, Backbone, domReady, validation, basics) {
        validation.Validator.install(basics);

        var RegistrationModel = validation.Model.extend({
            schema:{
                email:{
                    required:true,
                    type:String,
                    match:"email",
                    max:127,
                    registered:1000
                },
                password:{
                    required:true,
                    type:String,
                    range:{
                        min:5,
                        max:14
                    }
                },
                password2:{
                    duplicate:"password"
                }
            },
            validator:{
                tests:{
                    registered:function (done) {
                        var registeredEmails = {
                            "test@test.com":true,
                            "test@test.hu":true
                        };
                        setTimeout(function () {
                            done(registeredEmails[this.value]);
                        }.bind(this), this.config);
                    }
                },
                checks:{
                    registered:function (delay, key) {
                        return delay || 1;
                    }
                }
            }
        });

        var InputErrors = validation.Messenger.extend({
            messages:{
                email:{
                    required:"The email address is not given.",
                    type:"Email address must be string",
                    match:"Not an email address",
                    max:"The given email address is too long.",
                    registered:"The email address is already registered."
                },
                password:{
                    required:"The password is not given",
                    type:"The password must be string",
                    range:{
                        min:"The password is too short.",
                        max:"The password is too long."
                    }
                },
                password2:{
                    duplicate:"The verifier password does not equal with the password."
                }
            },
            display:function (attribute, chunks, pending) {
                var $input = this.options.$inputs[attribute];
                var message = "";
                if (chunks)
                    message += chunks.join("<br/>");
                if (pending)
                    message += "Pending ...";
                $input.next().html(message);
            }
        });

        var SubmitButtonDisabler = validation.Aggregator.extend({
            display:function (errors, pending) {
                if (errors + pending)
                    this.options.$submit.attr("disabled", "disabled");
                else
                    this.options.$submit.removeAttr("disabled");
            }
        });

        var RegistrationForm = Backbone.View.extend({
            tagName:"div",
            className:"test",
            template:_.template(
                    '<label for="email">Email: <input class="email" type="text" name="email" value="<%= o.email %>" /><span class="error"></span></label><br/>' +
                            '<label for="password">Password: <input class="password" type="password" name="password" value="<%= o.password %>" /><span class="error"></span></label><br/>' +
                            '<label for="password2">Verifier password: <input class="password2" type="password" name="password2" value="<%= o.password2 %>" /><span class="error"></span></label><br/>' +
                            '<input type="submit" class="submit" />',
                    null,
                    {variable:"o"}
            ),
            initialize:function () {
                this.render();
            },
            render:function () {
                this.$el.html(this.template(this.model.toJSON()));
                this.$inputs = {
                    email:$(".email", this.$el),
                    password:$(".password", this.$el),
                    password2:$(".password2", this.$el)
                };
                this.$submit = $(".submit", this.$el);
                _.each(this.$inputs, function ($input, attribute) {
                    $input.change(function () {
                        this.model.set(attribute, $input.val());
                    }.bind(this));
                    $input.next().css({color:"red"});
                }, this);
                new InputErrors({
                    model:this.model.validator,
                    $inputs:this.$inputs
                });
                new SubmitButtonDisabler({
                    model:this.model.validator,
                    $submit:this.$submit
                });
                return this;
            }
        });
        var model = new RegistrationModel({
            email:"test@test.hu",
            password:"password",
            password2:"password"
        });
        model.on("error", function (model, syncError, options) {
            console.log(model.validator.errors, model.validator.pending, syncError);
        });
        var form = new RegistrationForm({
            model:model
        });
        $("body").append(form.$el);
    });
</script>
</body>
</html>